# Criação de dataset

A função desse Jupyter é ler os arquivos txts e montar um Dataframe.

Os sinais foram exportados do Matlab e cada um dos arquivos txt é referente a um canal de um dos sinais (até o momento temos apenas um sianl).

* Importando as bibliotecas

In [1]:
import glob
import logging
import numpy as np
import pandas as pd

In [2]:
logger = logging.getLogger()
logger.setLevel(logging.INFO)

In [3]:
arquivos = glob.glob("sinais/*.txt")
arquivos

['sinais/canal1.txt',
 'sinais/canal10.txt',
 'sinais/canal11.txt',
 'sinais/canal12.txt',
 'sinais/canal13.txt',
 'sinais/canal14.txt',
 'sinais/canal15.txt',
 'sinais/canal16.txt',
 'sinais/canal2.txt',
 'sinais/canal3.txt',
 'sinais/canal4.txt',
 'sinais/canal5.txt',
 'sinais/canal6.txt',
 'sinais/canal7.txt',
 'sinais/canal8.txt',
 'sinais/canal9.txt']

* Lendo todos os sinais e criando o Dataframe

In [ ]:
sinal = []

dataframes = []

for sinal in arquivos:
    logging.info(f'Lendo o sinal: {sinal}')
    lines = list(open(sinal, 'r'))
    
    logging.info(f'Removendo espaços')
    lines = [line.rstrip() for line in lines]
    
    logging.info('Separando a amostra em 2000')
    sinal = np.array_split(lines, 2000)
    
    logging.info('Passando para dataframe')
    df = pd.DataFrame(sinal).T
    dataframes.append(df)

In [4]:
arquivos = ['sinais/canal1.txt']

In [46]:
sinal = []

dataframes = []

for sinal in arquivos:
    logging.info(f'Lendo o sinal: {sinal}')
    lines = list(open(sinal, 'r'))
    
    logging.info(f'Removendo espaços')
    lines = [line.rstrip() for line in lines]
    
    logging.info('Separando a amostra em 2000')
    sinal = np.array_split(lines, 92)
    
    # logging.info('Passando para dataframe')
    # df = pd.DataFrame(sinal).T
    # dataframes.append(df)

INFO:root:Lendo o sinal: sinais/canal1.txt
INFO:root:Removendo espaços
INFO:root:Separando a amostra em 2000

In [49]:
for i in range(len(sinal)):
    with open(f'txt_2000_{i}.txt', 'w') as f:
        f.write(str(sinal[i]))

Conferindo se todos os sinais foram lidos

Concatenando dos os dataframes em um único Dataset

In [8]:
dados = pd.concat(dataframes)

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1488 entries, 0 to 92
Columns: 2000 entries, 0 to 1999
dtypes: object(2000)
memory usage: 22.7+ MB

Reiniciando o index do Dataset

In [10]:
dados.reset_index(inplace=True)

In [11]:
dados.tail()

,index,0,1,2,3,4,5,6,7,8,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
1483,88,3,5,3,2,5,3,3,3,4,...,4,4,3,5,3,3,5,6,2,4
1484,89,4,5,4,5,6,2,3,3,3,...,4,3,2,4,2,4,5,4,2,2
1485,90,2,1,5,4,4,2,3,3,2,...,2,3,5,3,3,3,3,3,3,4
1486,91,2,4,4,2,4,2,2,6,2,...,2,4,3,4,3,3,5,3,3,4
1487,92,5,4,2,1,5,4,2,6,4,...,None,None,None,None,None,None,None,None,None,None

Dropando a coluna Index que foi criada

In [ ]:
dados.isnull().sum()

In [12]:
dados.drop(['index'], inplace=True, axis=1)

In [13]:
dados.sample()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
1143,-30,-121,139,-53,82,-245,-85,21,47,-29,...,-9,127,24,-169,-102,73,184,69,-64,143

Removendo as linhas com NaN, outra opção será substituir esses valores pela mediana dos dados

In [14]:
dados.dropna(inplace=True)

In [15]:
dados.tail(1)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
1486,2,4,4,2,4,2,2,6,2,2,...,2,4,3,4,3,3,5,3,3,4

```python
dados['feat'] = dados['feat'].fillna(value=dados['feat'].median())
```

In [18]:
dados.to_csv('dados.csv', index=False)